p {
  color: seagreen;
  font-size:32px;
  font-style:italic;
  font-weight:bold;
  font-family:sans-serif, georgia;
  border-style: solid;
  border-left-style:hidden;
  border-top-width:19px;
  border-bottom-right-radius:220px;
  border-bottom-left-radius: 220px;
  border-style:double;
  border:5px double cyan;
  box-shadow:5px 10px black;
  letter-spacing:5px;
  line-height:20px;
  word-wrap:break-word;
}
